.image{
    width: 180px;
    height: 180px;
    border-radius: 100%;
}

.artist_card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    margin: 12px;
    background-color: #272828;
    padding: 12px;
    border-radius: 12px;

}

.artist_name{
    color: #ffffff;
    text-transform: capitalize;
    margin-top: 12px;
    font-weight: bold;
}

.artist_type{
    color: #a7a6a6;
    text-transform: capitalize;
    margin-top: 12px;
}